.grid-container
{
    display: grid;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    color: red;
    background-color: #1f2605;
    margin-bottom: 10px;
}
.imagealoe
{
    margin-left: -200px;
    margin-top: 90px;
    display:flex;
    font-size:40px;
    font-weight: bold;
    width:90%;
    /* margin-left: 90px; */
    margin-top:-250px;
     height:9%; 
    padding: 300px;

}
.container
{
  background-color: #95f591;
  width: 1350px;
  height:800px;
  /* border: 10px solid black; */
  padding: 50px;
  margin-top: 40px;
  margin-left: 120px;
}
.begin
{
    font-weight: bold;
    font-size:80px;
    color:#1f2605 ;
    margin-left: 250px;
}
.ques1
{
    font-weight: bold;
    font-size:55px;
    color:#1f2605;
    margin-left: 90px;
    margin-top: 50px;
    
}
.plant_image
{
  background-color: #66ee27;
  width: 350px;
  height:800px;
  /* border: 0px solid black; */
  padding: 50px;
  margin-top: -900px;
  margin-left: 1660px;
}
#button1:hover
{
    background-color:#1f2605;
}
#button2:hover
{
    background-color:#1f2605;
}
#button3:hover
{
    background-color:#1f2605;
}
#button4:hover
{
    background-color:#1f2605;
}
#button1
{
    background-color: #2a06ca;
    font-size:30px;
    margin-left: 70px;
    margin-top: 40px;
    margin-right: 40px;
    font-weight: bold;
    padding: 10px;
    color:whitesmoke;
    text-align: center;
    border-radius: 15px;
}
#button2
{
    background-color: #2a06ca;
    font-size:30px;
    margin-right: 40px;
    margin-left: 90px;
    margin-top: 40px;
    font-weight: bold;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    border-radius: 15px;
}
#button3
{
    background-color: #2a06ca;
    font-size:30px;
    margin-right: 40px;
    margin-left: 80px;
    margin-top: 40px;
    font-weight: bold;
    padding: 10px;
    color:whitesmoke;
    text-align: center;
    border-radius: 15px;
}
#button4
{
    background-color: #2a06ca;
    font-size:30px;
    margin-right: 0px;
    margin-left: 60px;
    margin-top:40px;
    font-weight: bold;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
    border-radius: 15px;
}
img
{
  border-radius: 20%;
  margin-top: 100px;
  margin-right: 20px;
}
.image2
{
    margin-top:300px;
    padding: 40px;
   
}